<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("./component/header") %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>请修改您的信息</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form action="/admin/userUpdate?id=<%=user._id %>" method="POST" class="form-inline">
                    <div class="input-group">
                        <label for="userName">用户名称:</label>
                        <input type="text" id="userName" name="username" value="<%= user.username %>"><br>
                        <label for="userPwd">用户密码:</label>
                        <input type="text" id="userPwd" name="password" value="<%= user.password %>"><br>
                    </div><br>
                    <div class="input-group">
                        <input type="submit" class="btn" value="提交修改">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="/js/bootstrap.js">
</body>
</html>