<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">LOGO</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="#">商品管理</a></li>
                <li><a href="#">系统设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎您,<span>admin</span></a></li>
                <li><a href="#">安全退出</a></li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>请修改您的信息</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form action="/goodsUpdate?id=<%=u_goods._id %>" method="POST" class="form-inline">
                    <div class="input-group">
                        <label for="addGoodsName">商品名称:</label>
                        <input type="text" id="addGoodsName" value="<%=u_goods.name %>" name="name"><br>
                        <label for="addGoodsImg">商品图片:</label>
                        <input type="file" id="addGoodsImg" name="img" style="display: inline-block;"><br>
                        <label for="addGoodsPrice">商品价格:</label>
                        <input type="text" id="addGoodsPrice" value="<%=u_goods.price %>" name="price"><br>
                        <label for="addGoodsPostage">商品邮费:</label>
                        <input type="text" id="addGoodsPostage" value="<%=u_goods.postage %>" name="postage"><br>
                        <label for="addGoodsDescribe">商品描述:</label>
                        <textarea name="describe" id="addGoodsDescribe" style="width: 430px;height: 110px; resize: none;"><%=u_goods.describe %></textarea>
                    </div><br>
                    <div class="input-group">
                        <input type="submit" class="btn" value="提交修改">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="./js/bootstrap.js">
</body>
</html>